/*TRANSAÇÃO DE DARK MODE*/

*.dark{
    transition: .9s ease-out;
}

.trilho.dark{
    background-color: black;
}
  
.trilho.dark .indicador{
    left: 22px;
    background-color: rgb(255, 255, 255);
}
  
body.dark{
    background-color: rgb(235, 235, 235) ;
}
  
body.dark h1, body.dark h2, body.dark h3, body.dark h4,body.dark p, body.dark a{
    color: black;
}

nav.dark a{
    color: black;
}
  
nav.dark a:hover {
    color:black; 
}

body.dark button{
    background-color: rgba(0, 0, 0, 0.558);
    color: whitesmoke;
}

body.dark p , a{
    font-weight: 600;
}

body.dark .span-dark{
    color: #000000;
    text-shadow: 4px 4px 4px #009e00 ;
}

body.dark .textos-dinamicos li::after{
    background-color: rgb(235, 235, 235);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .trilho.dark .indicador{
        left: 19px;
        background-color: rgb(255, 255, 255);
    }

    ::-webkit-scrollbar {
        width: 12px;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 7px;
        border: 3px solid #000000;
      }
      
      ::-webkit-scrollbar-track {
        background-color: #000000;
      }
      
      *.dark {
        scrollbar-width: thin;
        scrollbar-color: #000000c7 #000000;
      }

      body.dark .aba-menu .span-menu{
        background: #000000;
      }

      body.dark .menu li a{
        color: rgba(255, 255, 255, 0.751);
        font-weight: 100;
      }
}